@import '../utils/variables';

$color: #00cc99;
$fz40: 40px;

.header {
  height: 200px;
  background-color: #00cc99;
}

.footer {
  height: 200px;
  background-color: #00cc99;
}

h1{
  font-weight: $black;
  font-size: $fz40;
  padding-top: $h2-pt;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;

  &:hover {
    width: 200px;
    background-color: $color;
  }
}